/*
    Basic web page template with header, one articles including a photo, and a footer
*/

/* Force older browsers to display HTML5 elements correctly */
article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Reset padding and margins for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Common elements */



html {
    background-color: #00ffff;
    padding: 10px;
}

body {
    width: 880px;
    margin: auto;
    padding: 10px;
    background-color: white;
}

header {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #00ffff;
    text-align: center;
}

#directions {
    margin-bottom: 10px;
    text-align: center;
}

#wordForm {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color: #00ffff;
    overflow: hidden;
}

    #wordForm input {
        width: 200px;
        float: right;
    }

    #wordForm p {
        margin: 3px;
        clear: both;
        float: right;
    }

.formButton {
    clear: both;
    margin: 3px;
    padding: 5px;
}

footer {
    clear: both;
    padding: 5px;
    margin-top: 10px;
    background-color: #00ffff;
    text-align: center;
}
